* {
    margin: 0;
}

main {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.header-grid {
    display: grid;
    grid-template-columns: 200px 1fr 100px 100px 100px;
    grid-row: 1fr;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header-item {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about, .contact {
    opacity: 50%;
}

.logo {
    font-size: 25px;
}

.about:hover, .contact:hover{
    opacity: 100%;
}

.logo:hover, .work:hover{
    font-weight: bolder;
}

.picture-grid {
    display: grid;
}

.grid-item {
    padding: 4.4px;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7
}

@media screen and (min-width:1024px) {
    /* desktop*/

    .picture-grid {
        grid-template-areas: 
            "img1 img1 img2 img3"
            "img4 img4 img4 img3"
            "img4 img4 img4 img5"
            "img6 img7 img7 img7";
    }

    .img1 {
        width: 281.19px;
        height: 187.61px;
    }
    
    .img2 {
        width: 187.61px;
        height: 187.61px;
    }
    
    .img3 {
        width: 225.14px;
        height: 337.7px;   
    }
    
    .img4 {
        width: 476.68px;
        height: 317.78px;
    }
    
    .img5 {
        width: 225.14px;
        height: 166.77px;
    }
    
    .img6 {
        width: 225.14px;
        height: 337.7px; 
    }
    
    .img7 {
        width: 473.9px;
        height: 337.7px;
    }
}

@media screen and (max-width:1024px) {
     /*tablet*/

    .picture-grid {
        grid-template-areas: 
            "img1 img1 img1 img2"
            "img3 img3 img4 img4"
            "img3 img3 img5 img5"
            "img6 img7 img7 img7";
    }

    .img1 {
        width: 323.41px;
        height: 203.12px;
    }
    
    .img2 {
        width: 215.05px;
        height: 203.12px;
    }
    
    .img3 {
        width: 258.73px;
        height: 364.51px;
    }
    
    .img4 {
        width: 278.89px;
        height: 173.99px;
    }
    
    .img5 {
        width: 278.89px;
        height: 177.93px;
    }
    
    .img6 {
        width: 185.65px;
        height: 259.81px;
    }
    
    .img7 {
        width: 346.09px;
        height: 259.81px;
    }
}

@media screen and (max-width: 768px) {
    /*phone*/

   .picture-grid {
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7";

   }
   .grid-item {
       width: 312px;
   }

}



